/* .projectsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
} */
.projectsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    border: 2px solid black;
}



.card {
    display: flex;
    padding: .8rem;
    border-radius: 1rem;
    transition: all 400ms ease-in-out;
    color: var(--color-light);
    margin: 100px 0;
    padding: 2%;
    border: 4px solid rgb(238, 0, 0);
}

.image {
    /* width: auto; */
    max-height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 1rem;
}


.projectLinks {
   display: flex;
   align-content: center;
   gap: 0.5rem;
}

@media screen and (max-width: 1024px) {
    .projectsContainer {
        grid-template-columns: 1fr 1fr;

    }

}

@media screen and (max-width: 600px) {
    .projectsContainer {
        grid-template-columns: 1fr;
    }
}