header {
    height: 75vh;
    padding-top: 1rem;
    overflow: hidden
}

.headerContainer {
    margin-top: 10rem;
    margin-right: -10rem;
    text-align: center;
    padding-top: 2rem;
    /* background: linear-gradient(to right, #e0eafc, #cfdef3); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:  blue;

    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    border-radius: 10px;
}


/* ================= IMAGE =================  */
.me {
    width: 20rem;
    height: 40rem;
    position: absolute;
    /* puts the photo in the center */
    left: calc(50% - 10rem); 
}

.quote {
    /* position: sticky; */
    padding-top: 350px;
}

@media screen and (max-width: 1024px) {
    header {
        height: 100vh;
    }
}
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }
}