header {
    /* height: 75vh;
    padding-top: 3rem; */
    overflow: hidden;
}

.backgroundImage {
    /* display: flex; */
    height: 30vh;
    padding-top: 3rem;
    background: url(../../assets/IMG_0239.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px; 
}
.got {
  background: black;
}
.headerContainer {
  padding-top: 2-m 0px;
    text-align: center;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px; 
    margin-left: 5%;
    border-radius: 15px 0px 0px 15px;
}

.color-30 {
 color: var(--color-30);
}
/* ================= IMAGE =================  */
.me {
    width: 20rem;
    height: 40rem;
    position: absolute;
    /* puts the photo in the center */
    left: calc(50% - 10rem); 
}

.badgesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8%;
    margin-bottom: 100px;
    box-shadow: rgba(219, 218, 218, 0.35) 0px 2px 25px; 
    padding: 15px;
}
.badgeCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    aspect-ratio: 1 / 1;
    width: 33px;
	  /* height: 52px; */
	  border-radius: 10px;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px; 
    margin: 10px;
}
.rounded {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 /1;
    height: 27px;
    background: white;
    border-radius: 30%;
    left: calc(50% - 10rem);
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px; 
}



/* Colors */
.blue {
    background: dodgerblue;
    color: deepskyblue;
}

.orange {
  background: darkorange;
  color: orange;
}

.gold {
  background: gold;
  color: gold;
}

.red {
  background: red;
  color: red;
}

.purple {
  background: mediumpurple;
  color: slategray;
}

.green {
  background: yellowgreen;
  color: darkslategray;
}

.crimson {
  background: crimson;
  color: firebrick;
}

.steel {
  background: steelblue;
  color: gold;
}

.pink {
  background: hotpink;
  color: palevioletred;
}

.rebecca {
  background: rebeccapurple;
  color: rebeccapurple;
}

.gainsboro {
  background: gainsboro;
  color: orangered;
}

.largeFont {
  font-size: 600%;
}

@media screen and (max-width: 1024px) {
    .backgroundImage {
        height: 75vh;
    }
    .largeFont {
      font-size: 450%;
    }
    /* header {
        height: 85vh;
    } */
}
@media screen and (max-width: 600px) {
    .backgroundImage {
        height: 65vh;
    }
    .largeFont {
      font-size: 300%;
    }
    /* header {
        height: 95vh;
    } */
}